<app-header></app-header>
<div *ngIf="screenState$ == ScreenState.LOGIN">
  <app-iniciar-sesion></app-iniciar-sesion>
</div>

<div *ngIf="screenState$ == ScreenState.HOME">
  <app-home></app-home>
</div>

<div *ngIf="screenState$ == ScreenState.REGISTER">
  <app-registrarse></app-registrarse>
</div>

<div *ngIf="screenState$ == ScreenState.CREATE_EVENT">
  <app-crear-evento></app-crear-evento>
</div>

<div *ngIf="screenState$ == ScreenState.EVENTS_LIST">
  <app-lista-eventos></app-lista-eventos>
</div>


<div *ngIf="screenState$ == ScreenState.EVENTS">
  <app-detalle-evento></app-detalle-evento>
</div>

<div *ngIf="screenState$ == ScreenState.SUCCES_NOTIFICATION">
  <app-succes-notification></app-succes-notification>
</div>
<app-footer></app-footer>
