.cta-container {
  background: #512da8;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  /* border-radius: 30px; */

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .primary {
    background-color: white;
    color: #512da8;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
  }
  .primary:hover{
    color: white;
    background-color:#512da8 ;
  }
}
