.container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem;
  background: #6b6b6b;
  min-height: 90vh;
}

.form-box {
  background: #9b9b9b;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color:  white;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

p {
  color:  white;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

label {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 1rem;
  display: block;
  color:  white;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-password {
  position: relative;
  display: flex;
  align-items: center;
}

.input-password input {
  flex: 1;
}

.input-password span {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

button {
  width: 100%;
  background-color: #7c3aed;
  color: white;
  padding: 0.75rem;
  margin-top: 3rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: #7c3aed;
  text-decoration: none;
  font-weight: 500;
}

.error {
  color: #ce2727;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
