
<div class="container">
    <h3>Mis eventos creados</h3>
    <div class="events-grid">
        <div class="event-card" *ngFor="let evento of listaEventos" (click)="editarEvento(evento)">
            <div class="image-container">
                <img [src]="evento.imageUrl" [alt]="evento.title" />
            </div>
            <div class="card-body">
                <h3 class="title">{{ evento.title }}</h3>
                <p class="location">📍 {{ evento.location }}</p>
            </div>
        </div>
    </div>
</div>
